<form class="form" action="" id="form-arousal-{{sound_track}}">
    <p>Which song has more arousal?</p>
    <div class="box">
        <input type="radio" name="higher_arousal" value="not_selected" checked="checked" style="display:none">

        <label for="a">
            <input type="radio" name="higher_arousal" value="a">
            A
        </label>

        <label for="equivalent">
            <input type="radio" name="higher_arousal" value="equivalent">
            same arousal
        </label>

        <label for="b">
            <input type="radio" name="higher_arousal" value="b">
            B
        </label>

        <!-- Empty label to put the checkbox in the middle column -->
        <label></label>

        <input type="checkbox" name="unsure_arousal" value="off" checked="checked" style="display:none">
        <label for="unsure_arousal" style="color:black;">
            <input type="checkbox" name="unsure_arousal" value="unsure_arousal">
            I am not sure
        </label>
    </div>
</form>

<form class="form" action="" id="form-valence-{{sound_track}}">
    <p>Which song has more valence?</p>
    <div class="box">
        <input type="radio" name="higher_valence" value="not_selected" checked="checked" style="display:none">

        <label for="a">
            <input type="radio" name="higher_valence" value="a">
            A
        </label>

        <label for="equivalent">
            <input type="radio" name="higher_valence" value="equivalent">
            same valence
        </label>

        <label for="b">
            <input type="radio" name="higher_valence" value="b">
            B
        </label>

        <!-- Empty label to put the checkbox in the middle column -->
        <label></label>

        <input type="checkbox" name="unsure_valence" value="off" checked="checked" style="display:none">
        <label for="unsure_valence" style="color:black;">
            <input type="checkbox" name="unsure_valence" value="unsure_valence">
            I am not sure
        </label>
    </div>
</form>
