<!DOCTYPE html>
<html>
<body>
  <h1>MTG Valence Arousal Annotator</h1>
  
  <p>Welcome to the MTG arousal and valence annotator!</p>

  <p>Please read carefully this instructions if this is the first time you use it:</p>

  <p>The goal of this tool is to collect clean annotations for arousal and valence of music. 
  It is essential that all the questions sufficiently considered.
  For this we recommend to use a headset or good quality monitors and to perform the annotations in a quite environment when possible.
  It is mandatory to select the most suitable answer for all the questions. We provide a checkbox to mark cases where the solution is not clear.</p>

  For this experiment, we use the following definition of valence and arousal:
  <ul>
    <li>Arousal: energy of the music (low vs high).</li>
    <li>Valence: positive or negative emotions expressed in music.</li>
  </ul> 

  Thanks, and good luck with the annotations!

  <h2>Start annotating</h2>
  {% for annotation_task in annotation_tasks %}
      <form style="width:200px; height: 150px; display: inline"
          action="{{ url_for('annotator', annotation_task=annotation_task) }}"
          method="get">
      <button>Start</button>
      </form>
  {% endfor %}



</body>
</html>
