{% macro checked(sound, feature, val, default) -%}
{% if page_annotations.get(sound, {}).get(feature) == val or (sound not in page_annotations and default == val) %}checked="checked"{% endif %}
{%- endmacro %}

{% from "arousal_and_valence.html" import arousal_form with context %}

<!DOCTYPE html>
<html>

<head>
  <style>
    input[type='radio'] { transform: scale(1); }
    .form {
      vertical-align: middle;
      text-align: center;
      background-color: white;
      color: #444;
    }
    .box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: white;
      color: black;
      border-radius: 5px;
      padding: 5px;
      font-size: 100%;
    }
    .track-container {
        display: inline-block;
        text-align: center;
    }
    .player-container {
        display: inline-block;
        width: 48%;
    }

  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script>
    $(function () {
      // collect and submit answers features
      function get_answers() {
        var answers = {};

        // radio inputs
        var elements = $('.box').find('input:checked');
        elements.each(function (idx, el) {
          var key = $(el).attr('name');
          var obj = {};
          obj[key] = $(el).val();
          var track_name = $(el).parents('.track-container').attr('id');

          if (answers[track_name])
            {
              answers[track_name] = Object.assign(answers[track_name], obj);
            } else {
              answers[track_name] = obj;
            }
        });

        return answers
      }

      function send_answers() {
        var answers = get_answers();
        var data = {
          answers: answers,
          page: '{{page}}'
        };

        $.ajax({
            url: '{{ url_for('annotator', annotation_task=annotation_task) }}',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
                window.location.replace("{{ url_for('annotator', annotation_task=annotation_task) }}"+ "?p={{page+1}}");
            },
            data: JSON.stringify(data)
        });
      }

      $('#submit-button').click(function() {
        send_answers();
      });

      const waveSurfers = new Map();

      // player stuff
      $(".waveform").each(function(){
        // create wavesurfer element
        var track_name = $(this).attr('track-path');
        var volume = $(this).attr('volume');
        var wavesurfer = WaveSurfer.create({
          container: this,
          waveColor: 'black',
          progressColor: 'grey',
          barWidth: '1',
          backend: 'MediaElement'
        });

        let uniqueId = Date.now();
        // Store the Surfer object using an unique id along with its track name as a key
        // UniqueId is needed because sometimes same track can appear twice (or more) on the same page. So we prevent
        // start playing different pairs.

        waveSurfers.set(uniqueId + '_' + track_name, wavesurfer);

        // add play pause feature
        var play_pause_button = $(this).parent().children('.playPause');
        
        $(this).attr('uniq-id', uniqueId);

        play_pause_button.on('click', function() {
          wavesurfer.playPause();

          const pairPlayPause = play_pause_button.parent('.player-container').siblings('.player-container').find('.playPause');
          
          // If other pair is playing, pause it
          if (pairPlayPause.hasClass('isPlaying')) {
            pauseSiblingAudio(pairPlayPause);
          }

          play_pause_button.toggleClass("isPlaying");
        });

        const pauseSiblingAudio = (play_pause_button) => {

          const waveformSibling = play_pause_button.siblings('.waveform');
          const uniqueId = waveformSibling.attr('uniq-id');
          const trackPath = waveformSibling.attr('track-path');
        
          const siblingWavesurfer = waveSurfers.get(uniqueId + '_' + trackPath);

          siblingWavesurfer.playPause();
        }

        // Toggle play/pause text
        wavesurfer.on('play', function() {
          play_pause_button.find('.play').css("display", "none");
          play_pause_button.find('.pause').css("display", "");
        });
        wavesurfer.on('pause', function() {
          play_pause_button.find('.play').css("display", "");
          play_pause_button.removeClass('isPlaying');
          play_pause_button.find('.pause').css("display", "none");
        });

        // load track
        wavesurfer.load(track_name);
        wavesurfer.setVolume(volume);
      });

    });
  </script>
</head>

<body>
  <h1>Task: {{annotation_task}}</h1>
  <h2>You are on page #{{page}}/{{n_pages}}</h2>
  {% if page_already_annotated %}
    <h3 style="color:red">
      You already annotated this page.
      Submitting new annotations will overwrite previous submitted ones.
    </h3>
  {% endif %}

  <div id="sound-container">

    <!-- iterate through each sound track -->
    {% for pair in pairs %}

      <!-- player -->
      <div class="track-container" style="border-style:solid; border-color:gray;" id="{{pair['pairid']}}">
        <div class="player-container">
          <h3>Track A</h3>
          <div class="waveform" track-path="{{folder_with_audio_files + pair['a_file']}}" volume={{pair['a_volume']}}></div>
          <button class="playPause" style="width:50px; height: 30px;">
            <span class="play">
              Play
            </span>
            <span class="pause" style="display: none;">
              Pause
            </span>
          </button>
        </div>
        <div class="player-container">
          <h3>Track B</h3>
          <div class="waveform" track-path="{{folder_with_audio_files + pair['b_file']}}" volume={{pair['b_volume']}}></div>
          <button class="playPause" style="width:50px; height: 30px;">
            <span class="play">
              Play
            </span>
            <span class="pause" style="display: none;">
              Pause
            </span>
          </button>
        </div>
        <br>

        <!-- form -->
        {% include annotation_task + '.html' %}
        <h3 style="font-size:9px;">pair id: {{pair['pairid']}}</h2>
      </div>
    {% endfor %}
  </div>

  <br>
  <button id="submit-button" style="margin-left:100px; width:150px; height: 50px;">submit</button>
  <br>

</body>

</html>
