{% macro valence_form(sound_track) -%}
<form class="form" action="" id="form-misc-{{sound_track}}">
  <div class="box">
    <input type="radio" name="higher_valence" value="a" {{checked(sound_track, "higher_valence", "a", default="none")}}>A has a higher valence value than B<br>
    <input type="radio" name="higher_valence" value="b" {{checked(sound_track, "higher_valence", "b", default="none")}}>B has a higher valuence value than A<br>
    <input type="radio" name="higher_valence" value="equivalent" {{checked(sound_track, "higher_valence", "equivalent", default="none")}}>The valence value is equivalent<br>
    <input type="radio" name="higher_valence" value="none" {{checked(sound_track, "higher_valence", "none", default="none")}}>None of the previous options
  </div> 
</form>
{%- endmacro %}

<!-- valence -->
{{valence_form(sound_track)}}

